In [1]:
import pyodbc
import sqlite3
# Kết nối tới master để tạo DB mới
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=AUSTINNGUYEN;'  # ae thay đổi tên máy chủ
    'DATABASE=master;'
    'Trusted_Connection=yes;',
    autocommit=True  # ⚠️ Quan trọng để tránh lỗi CREATE DATABASE
)


cursor = conn.cursor()
cursor.execute("IF DB_ID('StudentDB') IS NULL CREATE DATABASE StudentDB")
print("Database 'StudentDB' đã được tạo (nếu chưa tồn tại).")
cursor.close()
conn.close()

Database 'StudentDB' đã được tạo (nếu chưa tồn tại).

In [2]:
from sqlalchemy import MetaData

metadata = MetaData()
# Khi cần thao tác với engine, truyền engine vào phương thức

from sqlalchemy import create_engine
import urllib.parse

params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=AUSTINNGUYEN;"
    "DATABASE=StudentDB;"
    "Trusted_Connection=yes;"
)
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
metadata.create_all(engine)

ModuleNotFoundError: No module named 'sqlalchemy'

In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
df = pd.read_csv("3. StudentsPerformance.csv", encoding="utf-8")

# Ghi dữ liệu vào SQL Server (tự tạo bảng nếu chưa có)
df.to_sql("students_performance", engine, if_exists="replace", index=False)
print("✅ Đã ghi dữ liệu vào bảng 'students_performance' trong database 'StudentDB'.")

ModuleNotFoundError: No module named 'pandas'

In [4]:
df_check = pd.read_sql("SELECT * FROM students_performance", engine)
print("Dữ liệu trong bảng:")
print(df_check)

Dữ liệu trong bảng:
       id  gender     race parental level of education         lunch  \
0       1  female  group B           bachelor's degree      standard
1       2  female  group C                some college      standard
2       3  female  group B             master's degree      standard
3       4    male  group A          associate's degree  free/reduced
4       5    male  group C                some college      standard
..    ...     ...      ...                         ...           ...
995   996  female  group E             master's degree      standard
996   997    male  group C                 high school  free/reduced
997   998  female  group C                 high school  free/reduced
998   999  female  group D                some college      standard
999  1000  female  group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 9 columns]

In [ ]:
#!pip install ipython-sql sqlalchemy pyodbc

Requirement already satisfied: ipython-sql in c:\users\admin\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (2.0.41)
Requirement already satisfied: pyodbc in c:\users\admin\anaconda3\lib\site-packages (5.2.0)
Requirement already satisfied: prettytable in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlparse in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: decorator in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\admin\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\admin\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [8]:
%load_ext sql
%sql mssql+pyodbc:///?odbc_connect={params}

metadata = MetaData()
metadata.reflect(bind=engine)  # Đây là nơi truyền engine, không phải trong constructor

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%%sql

SELECT * FROM students_performance

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])