In [15]:
import pandas as pd
import numpy as np
df = pd.read_csv("3. StudentsPerformance.csv")

In [16]:
df

,id,gender,race,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
1,2,female,group C,some college,standard,completed,69,90,88
2,3,female,group B,master's degree,standard,none,90,95,93
3,4,male,group A,associate's degree,free/reduced,none,47,57,44
4,5,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...,...
995,996,female,group E,master's degree,standard,completed,88,99,95
996,997,male,group C,high school,free/reduced,none,62,55,55
997,998,female,group C,high school,free/reduced,completed,59,71,65
998,999,female,group D,some college,standard,completed,68,78,77
999,1000,female,group D,some college,free/reduced,none,77,86,86

In [17]:
df.shape # 1000 hang 9 cot

(1000, 9)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           1000 non-null   int64
 1   gender                       1000 non-null   object
 2   race                         1000 non-null   object
 3   parental level of education  1000 non-null   object
 4   lunch                        1000 non-null   object
 5   test preparation course      1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

In [22]:
#print all collumns name
df.columns  # -- day la dang object
# chuyen sang dang list
list(df.columns)

['id',
 'gender',
 'race',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [23]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [25]:
df.describe()

                id  math score  reading score  writing score
count  1000.000000  1000.00000    1000.000000    1000.000000
mean    500.500000    66.08900      69.169000      68.054000
std     288.819436    15.16308      14.600192      15.195657
min       1.000000     0.00000      17.000000      10.000000
25%     250.750000    57.00000      59.000000      57.750000
50%     500.500000    66.00000      70.000000      69.000000
75%     750.250000    77.00000      79.000000      79.000000
max    1000.000000   100.00000     100.000000     100.000000